services: 
  web:
    build: 
     dockerfile: ./Dockerfile
    restart: always
    ports: 
      - "8081:8080"
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ADDRESS: ${MYSQL_ADDRESS}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - ./code:/usr/src/app/code
    networks:
      - default
  database: 
    image: arm64v8/mysql:8.0.44
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - ./data:/var/lib/mysql
    networks:
      - default

networks:
  default:
