services: 
  web:
    build: 
     dockerfile: ./Dockerfile
    restart: always
    ports: 
      - "8081:8080"
    environment:
      MYSQL_USER: ${POSTGRES_USER}
      MYSQL_PASSWORD: ${POSTGRES_PASSWORD}
      MYSQL_ADDRESS: ${POSTGRES_ADDRESS}
      MYSQL_DATABASE: ${POSTGRES_DATABASE}
    volumes:
      - ./code:/usr/src/app/code
    networks:
      - default
  database: 
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./data:/var/lib/postgresql
    ports:
      - "5434:5432"
    networks:
      - default

networks:
  default:
